.dropdown {
  position: relative;
}

.header {
  display: inline-block;
  background-color: blue;
  padding: 10px;

  color: white;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;

  padding: 20px;

  background-color: black;
}

.item {
  padding: 10px;
  cursor: pointer;
  color: white;

  &:hover {
    color: red;
  }
}