.container {
  position: relative;
  max-width: 570px;
  width: 100%;

  padding: 180px 35px 35px 35px;
  box-sizing: border-box;
  
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
}

.card {
  position: absolute;
  top: -50%;
  left: 50%;

  width: 430px;
  height: 270px;
  margin: calc(270px / 2) 0 0 calc(-430px / 2);
  
  perspective: 800px;
  backface-visibility: hidden;

  &.rotate {
    .card {
      &-content {
        transform: rotateY(180deg);
      }
    }
  }

  &-content {
    width: 100%;
    height: 100%;

    border-radius: 15px;

    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.55);
    transition: transform 1s;
  }

  &-front {
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
  }
  
  &-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    width: 100%;
    height: 100%;
    background-color: red;
  }

  &-number {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 32px;
    overflow: hidden;

    transform: translate(-50%, -50%);

    display: flex;
    font-size: 27px;
    font-weight: 700;

    color: white;

    &-figure {
      display: flex;
      flex-direction: column;
    
      transition: transform .5s ease-in-out;
      margin: 0 0 0 3px;

      &:nth-child(4n + 5) {
        margin: 0 0 0 20px;
      }

      i {
        font-style: normal;
      }
    }
  }
}

.row {
  display: flex;
  margin: 0 -10px 20px 0;
}

.cell {
  width: 100%;

  padding: 0 10px 0 0;
}

.group {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 -10px 0 0;
  padding: 0 10px 0 0;

  &-label {
    display: block;
    width: 100%;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 500;

    color: #1a3b5d;
  }

  &-item {
    flex: 1;
    padding: 0 10px 0 0;
  }
}